//
//  Secrets.xcconfig
//  Ramstick
//
//  Created by Ifedolapo Jojolola on 3/12/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
OPENROUTER_API_KEY = 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
